h1, h2, h3, p, ul, li {
  margin: 10px;
  padding: 0;
  line-height: 1.5;
}

body {
  background-color: #00539C;
  font-family: "Times New Roman", Times, serif;
}

section {
  background-color: #ffcfcf;
}

ul, li {
  list-style-type: none;
}
