body {
  background-color: SteelBlue;
 
}

#main-navbar{
  background-color: LightSkyBlue;
  overflow: hidden;
}

#navbar-container {
  float: left;
  width: 100%;
  position: relative;
  border-radius: 20px;
}
 #main-navbar-container{
	
 }
#main-navbar li{
font-family: 'Maiden Orange', serif;
font-size: 35px;

}
#main-navbar ul {
  position: relative;
  float: left;
  list-style-type: none;
  left: 50%;
  display: inline-block;
  display: text-align-center;
  
}

#main-navbar ul li{
  display: block;
  float: left;
  position: relative;
  margin: 5px;
  padding: 10px;
  right: 50%;
}
nav{
  margin: 0 auto;
  text-align: center;
}

#main-navbar ul li a {
  padding: 20px 120px;
  color: black;
  display: block;
  border: 6px solid;
}

#main-navbar ul li a:hover {
  background-color: LightSlateGrey;
}

ul,li {
  text-align: center;
  font-family: "Times New Roman";
}

li{
 text-align: center;
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  font-family: 'Tilt Neon', sans-serif;
}
