body {
  background-color: #00539C;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 0;
  padding: 0; 
}

h1, h2, h3, p, ul, li {
  margin: 10px;
  padding: 0;
  line-height: 1.5;
}

#main-navbar {
  background-color: #EEA47F;
  overflow: hidden;
  display: flex;
}

#menu-container {
  width: 100%;
  float: left;
}

#main-navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

#main-navbar ul li {
  display: inline; 
  margin: 20px;
}

#main-navbar ul li a {
  display: block;
  padding: 15px 10px;
  text-decoration: none;
  color: white;
  font-family: "Times New Roman", Times, serif; 
}

#main-navbar ul li a:hover {
  background-color: #FFD700;
  color: black;
}

section {
  background-color: #FCFBF4;
  width: 800px;
  margin: 25px auto;
  padding: 20px;
  text-align: center;
}

li {
  list-style: none;
}

h1, h3, h2 {
  text-decoration: underline;
}

.skyline {
  display: block;
  margin: 0 auto; 
}

.skyline-caption {
  text-align: center;
}

img {
  max-width: 100%; 
  display: block;
  margin: 0 auto;
  border: 5px solid #00539C;
}
